{% extends "create.html" %}
{% block title %}BMC Bioinformation{% endblock %}
{% block header %}Create a WordCloud from the currently most popular abstracts in BMC Bioinformatics{% endblock %}
{% block form %}
<p>Generate a WordCloud made of a collection of abstracts that are from the mostly viewed BMC Bioinformatics articles</p>
<p class="input-field">
	Most viewed articles in:
	<select name="date" id="date">
		<option value="month">past 30 days</option>
		<option value="year">past year</option>
		<option value="ever">all times</option>
	</select>
</p>
<p><input type="submit"></p>
{% endblock %}
