{% extends "create.html" %}
{% block title %}Genes{% endblock %}
{% block header %}Generate a WordCloud for a specific gene, or a list of genes{% endblock %}
{% block form %}
<p class="input-field">
	<textarea name="genes" id="genes" class="materialize-textarea">KLF4</textarea>
	<label for="genes">Mammalian Entrez Gene symbols</label>
</p>
<p class="input-field">
	<select name="source" id="source">
		<option value="generif">Generif annotations</option>
		<option value="pubmed">Abstracts of Pubmed articles</option>
		<option value="go">Gene Ontology annotations</option>
		<option value="mp">Mammalian Phenotype Ontology annotations</option>
		<option value="mesh_terms">Mesh Terms from Pubmed</option>
	</select>
	<label for="source">Source for the WordCloud</label>
</p>
<p class="input-field"><input type="submit"></p>
{% endblock %}
