{% extends "base.html" %}
{% block head %}<title>Genes2WorldCloud: Create Genes</title>{% endblock %}
{% block body %}
<h2>Generate a WordCloud for a specific gene, or a list of genes</h2>
<form method="post" action="/view/genes">
	<p class="input-field">
		Paste Mammalian Entrez Gene symbols in the text area below:<br />
		(separated by either : ; , - \r \t \n or spaces)<br />
		<textarea name="genes" id="genes" class="materialize-textarea">KLF4</textarea>
	</p>
	<p class="input-field">
		Source for the WordCloud
		<select name="source" id="source">
			<option value="generif">Generif annotations</option>
			<option value="pubmed">Abstracts of Pubmed articles</option>
			<option value="go">Gene Ontology annotations</option>
			<option value="mp">Mammalian Phenotype Ontology annotations</option>
			<option value="mesh_terms">Mesh Terms from Pubmed</option>
		</select>
  	</p>
	<p class="input-field"><input type="submit"></p>
</form>
{% endblock %}
