{% extends "base.html" %}
{% block head %}
	<title>Genes2WordCloud: Create {% block title %}{% endblock %}</title>
{% endblock %}
{% block body %}
<h2>{% block header %}{% endblock %}</h2>
<form method="post" action="javascript:void(0)" type="{{ cloud_type }}">
	{% block form %}{% endblock %}
	<p><br /></p>
	<div class="row">
		<div class="input-field col s4">
			<input type="checkbox" id="stopwords" name="stopwords" checked>
			<label for="stopwords">Remove common English Words</label>
		</div>
		<div class="input-field col s4">
			<input type="checkbox" id="biostopwords" name="biostopwords">
			<label for="biostopwords">Remove common Biological Terms</label>
		</div>
		<div class="input-field col s4">
			<div class="noUiSlider" id="threshold" start="1" min="-5" max="5" step="0.01" fmt="2"></div>
			<label for="threshold">Frequency Significance</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input type="text" name="blacklist" id="blacklist">
			<label for="blacklist">Blacklist keywords</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input type="number" id="width" value="960">
			<label for="width">Width</label>
		</div>
		<div class="input-field col s6">
			<input type="number" id="height" value="600">
			<label for="height">Height</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<select id="case">
				<option value="lower">Lower Case</option>
				<option value="upper">Upper Case</option>
				<option value="first">First Letter Case</option>
			</select>
			<label for="case">Upper, lower, first case</label>
		</div>
		<div class="input-field col s4">
			<select id="shape">
				<option value="circle">Circle</option>
				<option value="cardioid">Cardioid</option>
				<option value="diamond">Diamond</option>
				<option value="triangle-forward">Triangle Forward</option>
				<option value="triangle-upright">Triangle</option>
				<option value="pentagon">Pentagon</option>
				<option value="star">Star</option>
			</select>
			<label for="shape">Shape</label>
		</div>
			<div class="input-field col s4">
				<div class="noUiSlider" id="grid-size" start="8" max="50"></div>
				<label for="grid-size">Grid Size</label>
			</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<div class="noUiSlider" id="rotation-proba" start="0.5" max="1" step="0.01" fmt="2"></div>
			<label for="rotation-proba">Rotation Probability</label>
		</div>
		<div class="input-field col s6">
			<div class="noUiSlider" id="rotation" connect="true" start="[0, 90]" max="360" ></div>
			<label for="rotation">Rotation Range</label>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="input-field col s4">
			<input type="text" id="font" value="Impact">
			<label for="font">Font</label>
		</div>
		<div class="input-field col s4">
			<div class="noUiSlider" id="font-scale" max="2" start="1" step="0.01"></div>
			<label for="font-scale">Font Scale</label>
		</div>
		<div class="input-field col s4">
			<div class="noUiSlider" id="font-size" connect="true" start="[10, 100]" min="1" max="250"></div>
			<label for="font-size">Font Size Range</label>
		</div>
	</div>
	<div class="input-field center"><input type="submit">&nbsp;<input type="button" id="save" value="Save"></div>
</form>
<p><br /></p>
<div id="status"></div>
<svg id="view" style="width:100%;position:relative;" preserveAspectRatio="xMidYMin"></svg>
{% endblock %}
{% block script %}
	<script src="/static/js/wordcloud2.js"></script>
	<script src="/static/js/create.js"></script>
{% endblock %}
