{% extends "base.html" %}
{% block head %}<title>Genes2WordCloud: Create {% block title %}{% endblock %}</title>{% endblock %}
{% block body %}
<h2>{% block header %}{% endblock %}</h2>
<form method="post" action="javascript:void(0)" type="{{ cloud_type }}">
	{% block form %}{% endblock %}
	<p><br /></p>
	<div class="row">
		<div class="input-field col s6">
			<input type="checkbox" id="stopwords" name="stopwords">
			<label for="stopwords">Remove common English Words</label>
		</div>
		<div class="input-field col s6">
			<input type="checkbox" id="biostopwords" name="biostopwords">
			<label for="biostopwords">Remove common Biological Terms</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input type="text" name="blacklist" id="blacklist">
			<label for="blacklist">Blacklist keywords</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s4">
			<select id="angler">
				<option value="mostlyHoriz">Mostly Horizontal</option>
				<option value="heaped">Heaped</option>
				<option value="hexes">Hexes</option>
				<option value="horiz">Horizontal</option>
				<option value="random">Random</option>
				<option value="updAndDown">Up And Down</option>
			</select>
			<label for="angler">Angle</label>
		</div>
		<div class="input-field col s4">
			<select id="placer">
				<option value="centerClump">centerClump</option>
				<option value="horizBandAnchoredLeft">horizBandAnchoredLeft</option>
				<option value="horizLine">horizLine</option>
				<option value="swirl">swirl</option>
				<option value="upperLeft">upperLeft</option>
				<option value="wave">wave</option>
			</select>
			<label for="placer">Placer</label>
		</div>
		<div class="input-field col s4">
			<select id="case">
				<option value="lower">Lower Case</option>
				<option value="upper">Upper Case</option>
				<option value="first">First Letter Case</option>
			</select>
			<label for="case">Upper, lower, first case</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input type="number" id="width" value="400">
			<label for="width">Width</label>
		</div>
		<div class="input-field col s6">
			<input type="number" id="height" value="200">
			<label for="height">Height</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input type="text" id="font" value="Impact">
			<label for="font">Font</label>
		</div>
		<div class="input-field col s6">
			<div class="noUiSlider" id="font-size" min="0" max="250" start="[5, 32]"></div>
			<label for="font-size">Font Size Range</label>
		</div>
	</div>
	<div class="input-field center"><input type="submit">&nbsp;<input type="button" id="save" value="Save"></div>
</form>
<p><br /></p>
<div class="container" id="view"></div>
{% endblock %}
{% block script %}<script src="/static/js/create.js"></script>{% endblock %}
